[submodule "packer"]
	path = packer
	url = ../home-server-pub-packer.git

[submodule "terraform"]
	path = terraform
	url = ../home-server-pub-terraform-pub.git

[submodule "ansible"]
	path = ansible
	url = ../home-server-pub-ansible-pub.git
